__pycache__/ 
*.py[cod] 
*$py.class 
*.so 
.Python 
venv/ 
env/ 
ENV/ 
.env 
.venv 
build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
*.egg-info/ 
*.pt 
user_data/thumbnails/ 
user_data/cache/ 
.vscode/* 
!.vscode/settings.json 
